Hello<br><br>

{% for user in users %}
	<div>
		<strong>User:</strong> {{ user.firstName }} {{ user.lastName }}
	</div>
	<div>
		<strong>Email:</strong> {{ user.email }}
	</div>
	<hr>
{% else %}
	{% if users %}
		<div>
			<strong>User:</strong> {{ users.firstName }} {{ users.lastName }}
		</div>
		<div>
			<strong>Email:</strong> {{ users.email }}
		</div>
	{% else %}
		No one user in database...
	{% endif %}
{% endfor %}